.coverImageContainer {
  margin: 0;
  padding: 0;
}

.coverImage {
  max-height: 500px;
  width: 1110px;
  max-width: 100vw;
  margin: 0 auto;
}

.post {
  margin-top: 1.5rem;
  font-family: var(--post-serif-font-family);
  font-size: 21px;
}

.post ul,
.post ol {
  margin: 2.5rem 0 2.5rem 2rem;
}

.post ul {
  list-style: disc;
}

.post ol {
  list-style: decimal;
}

.post ol li,
.post ul li {
  margin-bottom: 0.75rem;
}

.metadata {
  margin-bottom: 1rem;
}

.postTitle {
  font-weight: 400;
}

.authorName {
  font-family: var(--sans-serif-font-family);
  font-size: 1rem;
}
