h6.overline {
  margin: 0.5rem 0 0 0;
  color: var(--pink);
  text-transform: uppercase;
  font-size: smaller;
  font-family: var(--sans-serif-font-family);
  font-weight: 200;
  letter-spacing: 0.3ch;
  display: inline-block;
}
