.button {
  box-shadow: none;
  border: none;
  padding: 1rem 2rem;
  background-color: var(--purple);
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.button a,
a.button {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: smaller;
}

.button:hover {
  background-color: rgba(var(--purple_rgb), var(--alpha-dimmed));
  color: var(--white);
  text-decoration: underline;
}

.fullWidth {
  display: block;
  width: 100%;
  text-align: center;
}

.secondary {
  padding: 0.5rem 1rem;
  margin-right: 0.25rem;
  font-size: smaller;
}
