!!! 5
%html
  %head
    %title=current_page.data.title
    = partial 'partials/head'

%body

.hero.section.section--primary
  .container
    .hero__content.section--large
      %h1.hero__title Build APIs You Won't Hate
      %h2.h4 Everyone and their dog wants an API, so you should probably learn how to build them.

= yield

%section#subscribe.section.section--medium.section--secondary
  .container.container--medium
    %h6.text-center Get updates and exclusive content direct from Phil Sturgeon

    %form.form-inline{ action: "//apisyouwonthate.us10.list-manage.com/subscribe/post?u=f5c5ff66d95d11dec1b88cf54&amp;id=f4b69a177b", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
      %input.email{ name: "EMAIL", type: "email", value: "", placeholder: "E-mail"}
      %input.btn.btn--primary.btn--large{name: "subscribe", type: "submit", value: "Subscribe"}

= partial "partials/footer"
