.container {
  position: relative;
  display: grid;
  cursor: pointer;
  margin-bottom: 2rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.container:hover {
  text-decoration: none;
}

.featureImageContainer {
  max-height: 22rem;
  position: absolute;
}

.featureImageContainer::after {
  background-image: -webkit-linear-gradient(
    top,
    transparent 0px,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
  bottom: 0;
  content: ' ';
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}

.meta {
  grid-row: 0;
  grid-column: 0;
  position: absolute;
  z-index: 10;
  bottom: 0;
  padding: 1rem 2rem;
}

.subtitle {
  color: white;
}

.title {
  font-size: 1.5rem;
  font-family: var(--sans-serif-font-family);
}

.title {
  color: white;
  text-transform: uppercase;
}
