
%section.section.section--primary.service
  .content
    .container.section--large.content__container
      %h2 About Phil Sturgeon
      %p Since 2010 I've worked as a freelancer, consultant, Head of API, and CTO, for several API-centric technology startups.

      %p Previously at <a href="https://venturebeat.com/2015/04/07/carpooling-startup-ride-launches-with-help-from-ubers-first-cto/">Ride</a>, I was given me the chance to work with amazing developers, including several Rails API contributors. We built an event-driven architecture with several REST APIs and a few RPC ones, and it was here I learned the benefits of REST being a state machine over HTTP.

      %p Then at <a href="https://wework.com/">WeWork</a>, I used my experience to help educate developers, define standards for API design and architecture, and work on open-source tooling for OpenAPI, JSON Schema, and HTTP. WeWork has 50+ APIs, and here I have had a chance to learn a lot about keeping distributed applications performant. Tmeouts, retries, circuit breakers, keep alive settings, and HTTP caching specificially.

      %p I try to turn all of this learning into books, videos, and articles, so others can learn easily things I've had to learn the hard way.


  .aside
    .section__background{style: "background-image: url(/images/phil.jpg)"}
