
%section.section.section--primary.service
  .content
    .container.section--large.content__container
      %h2 About Phil Sturgeon
      %p Over the last five years I've worked as a freelancer, consultant, Head of API, and CTO, for several API-centric technology startups. The most recent, <a href="https://ride.com/">Ride</a>, has given me the chance to work with several amazing developers, including several Rails API contributors. Ride let me share our API experiences at conferences world-wide, which is an amazing opportunity to educate others on a topic I'm incredibly passionate about.

      %p Spending that much time building APIs means I have a long list of ways to make them not suck, and I would like to that with you lot. The book covers everything learned from years of doing this day in day out, and it tries to keep it light and breezy: through what could otherwise be some rather dull topics.

      %p For more about APIs, you can check out my blog, and specifically the <a href="https://philsturgeon.uk/tag/api/">#api</a> tag.

  .aside
    .section__background{style: "background-image: url(/images/phil.jpg)"}
