---
title: "Surviving Other People's APIs"
---

.hero.section.section--primary
  = partial 'partials/book_intro', locals: { book: 'surviving-other-peoples-apis' }

%section.section.section--large
  .container.container--medium
    %h2 About the book

    %p Frontend engineers work magic. They deal with all sorts of awful browser stuff, and have to deal with all sorts of ginormously complex problems. Most of those problems seem to be browser compatibility and Webpack, but there's a lot of documentation around how most of these things work. One area where frontend engineers are often left entirely in the dark? Interacting with APIs.

    %p Following the success of <a href="/books/build-apis-you-wont-hate.html">Build APIs You Won’t Hate</a>, this book will take a non-academic, easy-to-read approach to some pretty complex topics around HTTP interactions, versioning, client-caching, state management, differences between how you interact with RPC, REST and GraphQL, using JSON Schema for local validation, and all sorts of other awesome stuff that nobody ever bothered to mention.

    %p This book is aimed at frontend engineers (web, mobile, whatever) and backend engineers that find themselves talking to other APIs a lot, which is probably most of us these days.
