:root {
  /* colors */
  --hateful-green: #80b682;
  
  --white: #fff;
  --white_hex: var(--white);
  --white_rgb: 255, 255, 255;

  --purple: #89709b;
  --purple_hex: var(--purple);
  --purple_rgb: 137, 112, 155;

  /* alpha variables */
  --alpha-dimmed: 0.7;
  --alpha-full: 1.0;
  --alpha-transparent: 0;


  /* font stuff */
  --serif-font-family: "Arvo", serif;
  --sans-serif-font-family: "Open sans", sans-serif;

  /* sizes */
  --site-width: 1260px;
}