html,
body {
  background-color: var(--white);
  font-family: var(--sans-serif-font-family);
  color: var(--black);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font-family);
  font-weight: 600;
}

h6 {
  font-weight: 400;
}
