html,
body {
  background-color: var(--white);
  font-family: var(--sans-serif-font-family);
  color: var(--black);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font-family);
  font-weight: 600;
}

h6 {
  font-weight: 400;
}

a {
  cursor: pointer;
}

em {
  font-style: italic;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: var(--purple);
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  font-size: smaller;
}

button.shopify-buy__btn {
  background-color: #4c844e;
}

button:hover {
  background-color: rgba(var(--purple_rgb), var(--alpha-dimmed));
  color: var(--white);
  text-decoration: underline;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  border-left: 5px solid var(--hateful-green);
}

.gatsby-resp-image-image {
  width: 100%;
  height: 100%;
  margin: 0;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}
