/** timing variables for animations **/
$timing-base : 190;
$timing-normal : $timing-base * 1ms;
$timing-short : $timing-base * .6154 * 1ms;
$timing-long : $timing-base * 1.6154 * 1ms;
$timing-longer : $timing-base * 4.2308 * 1ms;
$timing-longest : $timing-base * 6.8462 * 1ms;