// Components

$padding-base-vertical:     20px;
$padding-base-horizontal:   20px;


$padding-section: 			$padding-base-vertical;
$padding-section-medium: 	$padding-base-vertical*2;
$padding-section-large: 	$padding-base-vertical*3;
$padding-section-huge: 		$padding-base-vertical*4;