$zindex-form-control-feedback: 				2;
$zindex-header-logo: 						40;
$zindex-header-stickynav: 					1000;
$zindex-search: 							$zindex-header-stickynav+1;
$zindex-navbar-trigger-search: 				$zindex-search+1;
$zindex-modal: 								9999;
$zindex-selectboxit: 						99999;