@include keyframes('fade-in') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes('fade-out') {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes('zoom') {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes('subtle-zoom') {
  0% {
    opacity: .9;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes('btn-glide') {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@include keyframes('glide-up') {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@include keyframes('dropdown-in') {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@include keyframes('dropdown-out') {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@include keyframes('expand') {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}

.bounce {
  @include animation(bounce $timing-short forwards ease);
}

// Animations
@include media(min-width 1024px) {
  .fadein {
    opacity: 0;
    transform: translateZ(0);

    &.animate {
      transform: translateZ(0);
      @include animation(fade-in $timing-longest forwards ease);
    }
  }
}

.strip-animation {
  @include animation(none);
}
