.clearfix {
	@extend %clearfix;
}
.pull-right {
	float: right;
}
.text-light {
  color: white;
}
.text-center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}
.hidden {
	display: none;
}
.text-small {
	font-size: 0.9rem;
	line-height: 0.8rem;
}
.lineheight-reset {
	line-height: 0.9;
}
.padding-bottom--0 {
	padding-bottom: 0;
}
.margin-bottom--0 {
	margin-bottom: 0;
}
.padding-bottom--40 {
	padding-bottom: 40px;
}