html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include rootsize;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 1rem;
  line-height: rem($base-line-height);
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  text-transform: capitalize;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1, .h1 {
  font-family: $header-font-family;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 1.2em;
  letter-spacing: 0.05rem;
  margin-bottom: 20px;
}

h2, .h2 {
  font-size: 2.8rem;
  line-height: 1.4em;
  margin-bottom: 40px;
}

h3, .h3 {
  @include headersize(34, 1.06);
  letter-spacing: 0.05rem;
}

h4, .h4 {
  font-size: 1.4rem;
  line-height: 1.4em;
  margin-bottom: 20px;
}

h5 {
  font-family: $base-font-family;
  font-weight: 700;
  @include headersize(20);
  letter-spacing: 0.03rem;
}

h6 {
  font-family: $base-font-family;
  font-weight: 700;
  @include headersize(16);
  letter-spacing: 0.01rem;
}
.leadon {
  @include headersize(13);
  margin: -20px 0 0 0;
  text-transform: uppercase;
}


p {
  margin: 0 0 rem($base-line-height*0.5);
}
p.small {
  font-size: 0.8rem;
}

a {
  @include transition(color 0.2s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: $hover-link-color;
    outline: none;
    text-decoration: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  font-style: italic;
  p {
    margin-bottom: 0;
  }
}

cite {
  font-style: normal;
  &:before {
    content: '\2014 \00A0';
  }
}

.section, .box {
  h1, h2, h3, h4, h5, h6 {
    a {
      @include textdecoration($base-font-color, $base-font-color, $base-background-color, hover);
    }
  }
}

.section--primary {
  h1, h2, h3, h4, h5, h6 {
    a {
      @include textdecoration(white, white, $brand-primary, hover);
    }
  }
}

.section--secondary {
  h1, h2, h3, h4, h5, h6 {
    a {
      @include textdecoration(white, white, $brand-tertiary, hover);
    }
  }
}
