.footer {
  background: var(--purple);
  font-size: 9pt;
  padding: 6rem 3rem;
  color: var(--white);
}

.footer a {
  color: var(--white);
  text-decoration: underline;
}

.footer a:hover {
  color: var(--white);
}
