.footer {
  border-top: 80px solid var(--gray);
  padding: 3rem;
}

.footer a {
  color: var(--purple);
  text-decoration: underline;
}

.footer a:hover {
  color: var(--purple);
}

.linkList li {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkList li svg + a {
  margin-left: 0.5rem;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--gray);
  margin-bottom: 1rem;
}

.copyright {
  text-align: right;
}
