.container {
  display: block;
  cursor: pointer;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
}

.heading {
  margin-top: 2rem;
}

.title-spacing {
  max-height: 6rem;
  min-height: 6rem;
}

.title {
  font-size: 1.5rem;
  font-family: var(--sans-serif-font-family);
  padding-top: 2rem;
}

.company {
  font-size: 1.25rem;
  font-family: var(--sans-serif-font-family);
}

.title {
  color: var(--black);
}

.container:hover {
  text-decoration: none;
}

.button {
  margin-bottom: 2rem;
}
