---
title: Slack Community for APIs You Won't Hate
---

%section.section.section--large
  .container.container--large
    %h2.text-center Community
    %p
      Get your API, REST and HTTP questions answered by almost 2,000 people! We're the largest API-centric Slack channel around.

    %p
      Joining is as easy as going to our
      = succeed ", and entering your email address." do
        %a{href: "http://slack.apisyouwonthate.com/"} Slack signup form

    %a{href: "http://slack.apisyouwonthate.com/"}
      %img{src: '/images/slack.png'}
