---
title: Build APIs You Won't Hate
---

%section.section.section--large#learnmore
  .container.container--large
    %h2.text-center Community

    %p We're the largest API-centric %a{href: 'http://slack.apisyouwontehate.com'} Slack channel around. We don't just talk about the book Phil wrote, we talk about anything and everything API related.

    %p Get your API, REST and HTTP questions answered by almost 2,000 people!
