---
title: APIs You Won't Hate - Books, articles and community that care about API design and development.
---

.hero.section.section--primary
  .container
    .hero__content.section--large
      %h2
        %a{ href: '/books/build-apis-you-wont-hate.html'}
          Build APIs You Won't Hate
      %h3.h4 Everyone and their dog wants an API, so you should probably learn how to build them.
      %p Tasked with building an API for your company but don't have a clue where to start? Taken over an existing API and hate it? Built your own API and still hate it? This book is for you.

      .hero__actions
        %a.btn.btn--secondary.btn--large{ href: '/books/build-apis-you-wont-hate.html'}
          Find out more

    .hero__aside.section--large
      .ebook.ebook-small
        %a{ href: '/books/build-apis-you-wont-hate.html' }
          %img{ src: '/images/ebook.jpg', width: '500px' }

%section.section.section--large
  .container.container--medium
    %h2 About This Community
    %p API development is a topic very close to Phils heart. APIs You Won't Hate started out as a book, with Phil pouring everything API related he knew, all the problems he faced, all the design decisions he wish he thought about earlier.

    %p Since the book, Phil has continued to learn and grow, thanks to new experiences, and new conversations with really smart people. Learning never stops, and the Slack channel that grew from the book subscribers and their friends has become home to the largest API chat group on the internet.

    %p APIs You Won't Hate is dedicated to learning, writing, sharing ideas and bettering understanding of API practices. Together we can erradicate APIs we hate.

%section#subscribe.section.section--medium.section--secondary
  .container.container--medium
    %h6.text-center Get pragmatic API, HTTP and REST info monthly!

    %form.form-inline{ action: "//apisyouwonthate.us10.list-manage.com/subscribe/post?u=f5c5ff66d95d11dec1b88cf54&amp;id=f4b69a177b", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
      %input.email{ name: "EMAIL", type: "email", value: "", placeholder: "E-mail"}
      %input.btn.btn--subscribe.btn--large{name: "subscribe", type: "submit", value: "Subscribe"}

    .text-center
      Not into mailing lists? Get all modern with Slack. We're the largest API-centric
      %a{href: '/community.html'} Slack channel around.
      Get your API, REST and HTTP questions answered by 1,000 people.
