---
title: Build APIs You Won't Hate
---

.hero.section.section--primary
  .container
    %h1.hero__title
      %a{ href: '/' }
        Build APIs You Won't Hate

%section.section.section--large#learnmore
  .container.container--large
    %h2.text-center Success

    %p Thank you for your purchase! You'll get an email with download information shortly.

= partial 'partials/footer'
