.download {
	opacity: 1;

	@include media(min-width 1024px) {
    opacity: 0;
    @include animation(fade-in $timing-longer forwards ease);
    @include animation-delay($timing-short);
  }
}
.download__subtext {
	@include span-columns(14);
	
	@include media(max-width 799px) {
		padding-bottom: 15px;
		text-align: center;
	}

	@include media(min-width 800px) {
		@include span-columns(4);
	}

	@include media(min-width 1000px) {
		@include span-columns(3);
	}
}

.download__input {
	@include span-columns(14);

	@include media(min-width 480px) {
		@include span-columns(9);
	}

	@include media(min-width 640px) {
		@include span-columns(10);
	}

	@include media(min-width 800px) {
		@include span-columns(7);
	}

	@include media(min-width 1000px) {
		@include span-columns(8);
	}

	.form-control {
		@include media(min-width 480px) {
			margin-bottom: 0;
		}
	}
}

.download__button {
	@include span-columns(14);

	@include media(min-width 480px) {
		@include span-columns(5);
	}

	@include media(min-width 640px) {
		@include span-columns(4);
	}

	@include media(min-width 800px) {
		@include span-columns(3);
	}
}