.ebook {
  padding: 40px;
  background-color: #333;
  border-radius: 10px 10px 0 0;
  line-height: 0;
  width: 110%;
  position: relative;

  &:before {
    content: '';
    width: 12%;
    height: 3px;
    background-color: darken(#333, 4%);
    position: absolute;
    top: 0;
    right: 40px;
    margin-top: -3px;
    border-radius: 2px 2px 0 0;
  }

  img {
    width: 100%;
    height: auto;
    border: 5px solid darken(#333, 4%);
    border-radius: 4px;
  }
}