.header {
  background-color: white;
  @extend %clearfix;
  z-index: $zindex-header-stickynav;

  @include media(min-width 700px max-width 767px) {
    padding-bottom: 40px;
  }

  .container {
    @include media(max-width 767px) {
      position: relative;
    }
  }
}

$header-logo-width: 110px;
$header-logo-height: 70px;

.header__logo {
  width: $header-logo-width;
  height: $header-logo-height;
  position: absolute;
  z-index: $zindex-header-logo;
  top: 10px;
  left: 50%;
  margin-left: -$header-logo-width/2;

  @include media(min-width 768px) {
    top: 0;
    left: auto;
    margin-left: 0;
  }
}


.header__navbar {
  background: white;

  @include media(max-width 699px) {
    overflow: hidden;
    height: 0;
  }

  &.active {
    height: auto;
  }
}


.triggers {
  padding: 5px 0;
  display: none;

  @include media(max-width 699px) {
    display: block;
  }

  .btn.active {
    color: $brand-primary;

    &.trigger-menu .icon:before,
    &.trigger-search .icon:before {
      content: "\e601"
    }
  }
}
.triggers .btn {
  font-size: rem($base-font-size);
  color: $base-font-color;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}


// Sticky nav

.header--clone {
  display: none;
  
  @include media(min-width 768px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-header-stickynav;
  }

  // Translate -100% to move off screen
  /* transform: translateY(-100%); */
  /* transition: all 300ms ease-in-out; */
}
.header--stick {
  // Translate back to 0%
  /* transform: translateY(0%); */
}
.header--unstick {

}


// Post header

.post-header {
  display: none;
}

.post-header--clone {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex-header-stickynav;

  // Translate -100% to move off screen
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}
.post-header--stick {
  // Translate back to 0%
  transform: translateY(0%);
}
.post-header--unstick {

}
