.hero {
  padding-top: 0;
  position: relative;
  width: 100%;
  background: $brand-primary;
  overflow: hidden;
}

.hero__content {
  @include media(min-width 860px) {
    @include span-columns(7);
  }
}



.hero__aside {
  @include media(min-width 980px) {
    @include span-columns(6);
    @include shift(1);
  }

}

.hero__title {
  margin-top: 40px;
}
.hero__actions {
  margin: 60px 0 5px;
  
  a:first-child {
    margin-right: 15px;
  }
}