.hero {
  padding-top: 0;
  position: relative;
  width: 100%;
  background: $brand-primary;
  overflow: hidden;


  h2 a {
    text-decoration: underline;
  }
  
  .hero__content {
    @include media(max-width 859px) {
      padding-top: 0;
    }

    @include media(min-width 860px) {
      @include span-columns(7);
    }
  }

  .hero__aside {
    @include media(max-width 859px) {
      padding-top: 0;
    }

    @include media(min-width 860px) {
      @include span-columns(6);
      @include shift(1);
    }

  }

  .hero__title {
    margin-top: 40px;
  }
  .hero__actions {
    margin: 60px 0 5px;

    a:first-child {
      margin-right: 15px;
    }

    @include media(max-width 559px) {
      a {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }

}
