.leave-comment {
  padding: 20px;

  @include media(max-width 549px) {
    text-align: center;
    border-top: 1px solid darken($base-background-color, 10%);
    border-bottom: 1px solid darken($base-background-color, 10%);

    .media__image, .media__body {
      float: none;
      display: block;
      width: 100%;
    }
    .btn {
      margin-bottom: 15px;
    }
  }

  @include media(min-width 550px) {
    background: $brand-primary;
    color: #fff;
  }
  @include media(min-width 650px) {
    padding-right: 120px;
    background-image: url(/images/bros.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 100px auto;
  }
}