.section, .box {
  @extend %clearfix;
}
.section--primary {
  background-color: $brand-primary;
  .border-left {
    border-color: lighten($brand-primary, 10%);
  }
}
.section--secondary {
  background-color: $brand-secondary; //TODO seporate out to own variable color
}

.section--primary, .section--secondary {
  color: white;

  a {
    color: white;
    text-decoration: underline;
  }
}

.section--small {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section--medium {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section--large {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section--large-top {
  padding-top: 80px;
}

.section-header {
  position: relative;
  margin-bottom: 60px;
  @extend %clearfix;

  @include media(max-width 859px) {
    padding-bottom: $padding-base-vertical;
    border-bottom: 1px solid darken($gray-light, 10%);

    .section--secondary & {
      border-color: darken($brand-tertiary, 10%);
    }
    .section--primary & {
      border-color: darken($brand-primary, 10%);
    }
  }

  @include media(min-width 860px) {
    margin-bottom: 60px;

    &:before {
      content: '';
      z-index: 10;
      position: absolute;
      left: 0;
      top: 50%;
      height: 1px;
      width: 100%;
      background-color: darken($gray-light, 10%);

      .section--secondary & {
        background-color: darken($brand-tertiary, 10%);
      }
      .section--primary & {
        background-color: darken($brand-primary, 10%);
      }
    }
  }

  h2 {
    margin-bottom: 10px;

    @include media(min-width 860px) {
      margin-bottom: 0;
      z-index: 20;
      position: relative;
      display: block;
      float: left;
      padding-right: $padding-base-horizontal;
      background-color: $base-background-color;

      .section--secondary & {
        background-color: $brand-tertiary;
      }
      .section--primary & {
        background-color: $brand-primary;
      }
    }
  }
}

.section-header__actions {

  @include media(min-width 860px) {
    z-index: 20;
    position: relative;
    float: right;
    padding: 20px 0 20px $padding-base-horizontal;
    background-color: $base-background-color;

    .section--secondary & { //TODO could be a mixin
      background-color: $brand-tertiary;
    }
    .section--primary & {
      background-color: $brand-primary;
    }
  }
  .btn--primary {
    margin-left: 10px;
    margin-top: -3px;
  }
}

.section--withaside {
  @include media(max-width 899px) {
    padding-bottom: 0;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .section__main {
      @include container-padding;
    }

    &.section--large .section__main {
      padding-bottom: 80px;
    }


    .box {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .box:last-of-type {
      background: $brand-primary;
    }
  }
}


.section__main {
  @include media(min-width 900px) {
    @include span-columns(9);
  }
}
.section__aside {
  @include media(min-width 900px) {
    @include span-columns(5);
  }
  @include media(min-width 1100px) {
    @include span-columns(4);
    @include shift(1);
  }
}
