/*
 * jquery.selectBoxIt.css 3.8.1
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
.selectboxit-container {
  position: relative;
  display: inline-block;
  font-family: $form-font-family;
  font-size: rem($form-font-size*0.90);
  color: $base-font-color;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 300px; /* Width of the dropdown button */
  min-width: 200px;
  max-width: 300px;
  cursor: pointer;
  margin: 0;
  position: relative;
  display: block;
  background-color: white;
  border-radius: $form-border-radius;
  border: 0;
  padding: 0px 15px;
  height: 38px;

  .section-header & {
    width: 270px; /* Width of the dropdown button */
    min-width: 200px;
    max-width: 270px;
  }
  .hero & {
    min-width: 270px;
    max-width: 270px;
    width: 270px;
  }
}
.selectboxit-text {
  display: inline-block;
  line-height: 38px;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}


/* Options List */
.selectboxit-container .selectboxit-options {
  min-width: 100%!important;  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  max-width: 280px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  position: absolute;
  background: white;
  list-style: none;
  position: absolute;
  cursor: pointer;
  display: none;
  z-index: $zindex-selectboxit;
  border-radius: $form-border-radius*0.7;
  text-align: left;
  padding: 6px 0;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);

  li {
    padding: 0px 10px;
    a {
      border-bottom: 1px solid darken(white, 10%);
    }
    &:last-child {
      a {
        border-bottom: 0;
      }
    }
  }

  a {
    padding: 0;
    display: block;
    color: $base-font-color;
    font-size: rem($form-font-size*0.90);
  }
  a:hover {
    color: $hover-link-color;
  }
  .selectboxit-selected a {
    color: $base-link-color;
  }
}

.selectboxit-list:after {
  bottom: 100%;
  right: 15px;
  margin-top: -10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 6px;
  margin-left: -6px;
}

.selectboxit-container {
  .selectboxit-options {
    opacity: 0;
  }

  &[aria-expanded=true] {
    .selectboxit-options {
      @include animation(dropdown-in $timing-longer forwards ease);
    }
    .selectboxit-btn {
      z-index: $zindex-modal+1;
    }
  }

  &[aria-expanded=false] {
    .selectboxit-options {
      @include animation(dropdown-out $timing-longer forwards ease);
    }
  }
}


.selectboxit-overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: $zindex-modal;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  @include background-opacity($brand-tertiary, 0.4);
}
.selectboxit-overlay--in {
  display: block;
  @include animation(fade-in $timing-longer forwards ease);
}
.selectboxit-overlay--out {
  @include animation(fade-out $timing-longer forwards ease);
}

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: $form-border-radius*0.7;
  border-top-left-radius: $form-border-radius*0.7;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: $form-border-radius*0.7;
  border-bottom-left-radius: $form-border-radius*0.7;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 42px;
  height: 37px;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -2px;
}


/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
  text-align: left;
  padding: 10px;
  background-color: white;
  @include transition(background-color 0.2s ease-in-out);
}

.selectboxit-btn.selectboxit-enabled:hover {
  background-color: darken(white, 10%);
}

.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 6px solid $base-font-color;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
