.statistics {
  @include clearfix;
  line-height: 0;

  @include media(min-width 768px) {
    text-align: justify;

    &:after {
      display: inline-block;
      width: 100%;
      content: "";
    }
  }
}

.statistics__item {
  margin-bottom: 20px;

  @include media(max-width 499px, 6) {
    @include span-columns(3);
    @include omega(2n);

    &:last-child {
      @include span-columns(6);
    }
  }

  @include media(min-width 500px max-width 767px, 6) {
    @include span-columns(2);
    @include omega(3n);
  }

  @include media(min-width 768px) {
    display: inline-block;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h1, h4 {
    margin-bottom: 0;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 0;

    @include media(max-width 399px) {
      font-size: rem(42);
    }
    @include media(min-width 400px max-width 499px) {
      font-size: rem(52);
    }
    @include media(min-width 500px max-width 549px) {
      font-size: rem(38);
    }
    @include media(min-width 550px max-width 599px) {
      font-size: rem(42);
    }
    @include media(min-width 600px max-width 767px) {
      font-size: rem(52);
    }
    @include media(min-width 768px max-width 899px) {
      font-size: rem(38);
    }
    @include media(min-width 900px max-width 1049px) {
      font-size: rem(42);
    }
  }

}